
    	<div id="footer-wrapper">
				<div class="left">
					<div class="right">
      		<div id="footer" class="clearfix">
					<h5><b>Find Your Way:</b></h5>
        		<div class="footlist first">
        			<b>OpenCongress</b>
        				<ul>
          				<li><a href="/search">Search</a></li>
			            <li><%= link_to 'About OpenCongress', { :controller => 'about' }, 
                                      { :title => "Find out more about who and what is Open Congress" } %></li>
                  <li><%= link_to 'Help FAQ', { :controller => 'about'}, 
                                      { :title => "" } %></li>
									<li><%= link_to 'RSS Feeds', :controller => 'about', :action => 'rss' %></li>
									<li><%= link_to 'Widgets', widgets_path %>																			
  								<li><%= link_to 'Developers/API', :controller => 'about', :action => 'code' %></li>
									<li><%= link_to 'Our Staff', :controller => 'about', :action => 'staff' %></li>																			

									<li><a href="/contact/">Contact Us</a></li>
        				</ul>
        		</div>
      			<div class="footlist">
      				<b>Go to</b>
      					<ul>
							 		<li><%= link_to 'Bills', :controller => 'bill', :action => :all  %></li>
									<li><%= link_to 'Senators', :controller => 'people', :action => :senators  %></li>
									<li><%= link_to 'Representatives', :controller => 'people', :action => :representatives  %></li>
									<li><%= link_to 'Votes', :controller => 'roll_call' %></li>		
									<li><%= link_to 'Issues', :controller => 'issue' %></li>
									<li><%= link_to 'The Money Trail', :controller => 'money_trail' %></li>
      					</ul>
      			</div>
      			<div class="footlist">
      				<b>Go to</b>
      				<ul>

								<li><%= link_to 'Wiki', '/wiki' %></li>		
								<li><%= link_to 'Blog', :controller => 'blog' %></li>
								<li><%= link_to 'Video', :controller => 'video' %></li>
								<li><%= link_to 'Resources', :controller => 'resources' %></li>
								<!-- ><li><%= link_to 'Battle Royale', :controller => 'battle_royale' %></li> -->
					</ul>
      			</div>		
      			
      			<div class="footlist last">
      				<b>My OpenCongress</b>
      					<ul>

									
									<li><%= link_to "Tracked Items" %></li>
									<li><%= link_to "Actions" %></li>
									<li><%= link_to "Friends" %></li>
									<li><%= link_to "My Political Notebook" %></li>
									<li><%= link_to "My Profile" %></li>
									<li><%= link_to "Logout" %></li>
									<li><%= link_to "Login" %></li>
						</ul>
					</div>
					</div>
				 	</div>
     
