<div id="header" class="clearfix">

	<div class="bar">
		<p class="project">
			A project utilizing  <a href="http://sunlightfoundation.com/" target="_blank">Sunlight Foundation</a>
			and <a href="http//opencongress.org" target = "_blank"> Open Congress </a>
		</p>

	</div>

  
	<h1><a class="logo" href="/" title="link to the home page"><%= image_tag 'banner_issues.png', :alt => 'banner_issues.png -' %>
	<%= "#{@page_title_prefix} - " if @page_title_prefix %><%= truncate(@page_title, :length => 100) %> <%= truncate(@head_title, :length => 90) if @head_title %></a></h1>


		
   	<div class="tagline">
		
   		<p>A non-profit, non-partisan public resource</p>
   		Everyone can be an insider. <a class="learn_it" href="/#pitch">Learn how</a>.	
   	</div>

      <div id="advanced" style="display: none;">

      </div>

</form>

</div> <!-- // header -->

<div id="nav" class="un">
	<div class="left">
		<div class="right">
			<ul>
				<li id="bill_nav"><%= link_to 'Health Care Bills' %></li>
				<li id="sens_nav"><%= link_to 'Federal record ' %></li>
				<li id="reps_nav"><%= link_to 'State record' %></li>
				<li id="vote_nav"><%= link_to 'Media ' %></li>		
				<li id="ishu_nav"><%= link_to 'Providers ' %></li>
				<li id="comm_nav"><%= link_to 'Advocates' %></li>
				<li id="muny_nav"><%= link_to 'The Money Trail' %></li>
				<li id="blog_nav" class="sub"><%= link_to 'Blog' %></li>
        <li id="groups_nav" class="sub">
            <li><%= link_to "Groups".html_safe, new_group_path %></li>
          </ul>
        </li>
				<li id="tool_nav" class="sub">		
				<%= link_to ('<span>Resources ' + image_tag('tool_arrow-trans.png', :alt => '&gt;') + '</span>').html_safe, tools_path %>
				<ul class="sub">
  				<li id="wiki_nav"><%= link_to '<span>Wiki</span>'  %></li>		
					<li id="compare_nav"><%= link_to '<span>Vote Comparison</span>' %></li> 
					<li id="widget_nav"><a href="/widgets"><span>Site Widgets</span></a></li>
					<li id="states_nav"><%= link_to '<span>States</span>' %></li>
					<li id="howitworks_nav"><a href="/about/howtouse"><span>How-to Use OpenCongress</span></a></li>
					<li id="twitter_nav"><a href="http://twitter.com/opencongress"><span>Follow Our Twitter</span></a></li>
					<li id="allresources_nav"><%= link_to '<span><strong>All Resources</strong></span>' %></li>
				</ul>
				</li>

				<!--<li id="battle_nav" class="sub"><%= link_to '<span>Battle Royale</span>', :controller => 'battle_royale' %></li> -->

			</ul>
		</div>
	</div>
</div>


