 <% if @logged_in %>
   <ul class="user_nav">
    <h3>My HealthCareIssues</h3>
    <li class="profile_link"><%= link_to "<span>My Profile</span>".html_safe,  issues_path  %></li> 
		<li class="mypn_link"><%= link_to "<span>My Political Notebook</span>".html_safe,  issues_path  %></li>
		<li class="watchdog_link"><%= link_to "<span>Watchdog</span>".html_safe,  issues_path  %></li>
		<li class="friends_link"><%= link_to "<span>Friends</span>".html_safe,  issues_path  %></li>
		<li class="actions_link"><%= link_to "<span>Actions</span>".html_safe,  issues_path  %></li>    
		<li class="tracked_link"><%= link_to "<span>Tracked Items</span>".html_safe, issues_path  %></li>
	</ul>
<% end %>
